{% extends 'base.html' %}
{% load widget_tweaks %}

{% block body %}
    <h1 class="mt-2 mb-5">Has anything moved?</h1>

    <form method="POST" action="{% url 'petition:news_create' petition.id %}" novalidate>
        {% csrf_token %}

        {% if form.errors %}
            {% for error in form.non_field_errors %}
                <div class="form-error">
                    <div class="alert alert-primary">
                        <strong>{{ error|escape }}</strong>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        <div>
            <div>
                {% for field in form %}
                    <label class="form-label">{{ field.label }}:</label>
                    <div class="input-group mb-3">
                        {% if not field.errors %}
                            {{ field|add_class:"form-control" }}
                        {% else %}
                            {{ field|add_class:"form-control is-invalid" }}
                        {% endif %}
                    </div>
                    {% for error in field.errors %}
                        <div class="field-error">
                            <div class="alert alert-primary">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>


            <div class="input-group center sup mb-3">
                <button class="btn btn-primary" type="submit">Publish!</button>
            </div>
        </div>

    </form>
{% endblock %}
