{% extends 'base.html' %}

{% block body %}
    <div class="container mt-3 mb-5">
        <h1 class="mb-4">Statistics</h1>

        <form class="" action="{% url 'petition:statistics_0' %}">
            <p>
                1.3  Show the petitions that had updates in the past
                <input style="width: 50px;" type="number" name="days" placeholder="0">
                 days.
                <button class="btn btn-dark" type="submit">Search</button>
            </p>
        </form>

        <form class="" action="{% url 'petition:statistics_1' %}">
            <p>
                1.5  Show petitions which have collected more than
                <input style="width: 50px;" type="number" name="votes" placeholder="0">
                votes in the past 10 days.
                <button class="btn btn-dark" type="submit">Search</button>
            </p>
        </form>

        <form class="" action="{% url 'petition:statistics_2' %}">
            <p>2.1  Show all the users who voted for at least all the petitions I voted for
                <button class="btn btn-dark" type="submit">Search</button>
            </p>
        </form>

        <form class="" action="{% url 'petition:statistics_3' %}">
            <p>2.2  Show all the users who voted for at least all the petitions I've created
                <button class="btn btn-dark" type="submit">Search</button>
            </p>
        </form>

        <form class="" action="{% url 'petition:statistics_4' %}">
            <p>2.3  Show users who have created more petitions in 2 weeks than I have.
                <button class="btn btn-dark" type="submit">Search</button>
            </p>
        </form>

        <form class="" action="{% url 'petition:statistics_5' %}">
            <p>3.0  User: <input style="width: 50px;" type="number" name="user_id" placeholder="0">
                -> All petitions -> Updated in 2weeks from now -> Show signatories' names
                <button class="btn btn-dark" type="submit">Search</button>
            </p>
        </form>

    </div>
{% endblock %}