{% extends 'base.html' %}
{% load widget_tweaks %}

{% block body %}
    <form method="POST" action="{% url 'account:login' %}" novalidate>
        {% csrf_token %}

        {% if form.errors %}
            {% for error in form.non_field_errors %}
                <div class="form-error">
                    <div class="alert alert-primary">
                        <strong>{{ error|escape }}</strong>
                    </div>
                </div>
            {% endfor %}

        {% endif %}

        <div>
            <div>
                {% for field in form %}
                    <label class="form-label mt-2">{{ field.label }}:</label>
                    {% if not field.errors %}
                        {{ field|add_class:"form-control" }}
                    {% else %}
                        {{ field|add_class:"form-control is-invalid" }}
                    {% endif %}
                    {% for error in field.errors %}
                        <div class="field-error">
                            <div class="alert alert-primary">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>


            <div class="input-group center sup mb-3 mt-4">
                <button class="btn btn-primary" type="submit">Sign in</button>
            </div>
        </div>

    </form>
{% endblock %}
